
VBox{
    -fx-alignment:center;
}

.background{
	-fx-background-image: url("/img/Other/background.png");
	-fx-background-size:stretch;
}
HBox{
	-fx-border-style: none none dotted none;
-fx-border-color:green;
}

ImageView{
	-fx-border-style: none none dotted none;
	-fx-border-color:red;
}
