
VBox{
    -fx-alignment:center;
}

.logo{
	-fx-font-size:30px;
}
.vide{
	-fx-min-height: 20px;
	-fx-min-width:25px;
}
Button{
	
  -fx-background-color: #f2504e; 
  -fx-border: none;
  -fx-color: white;
  -fx-padding: 15px 32px;
}
.fenetre{
	 	-fx-background-image: url("../../../src/main/resources/img/222.gif");
	-fx-background-image: url("/img/222.gif");
}
Button:hover{
	
	-fx-background-color: #b81412; 
}